services:
  gameserver:
    build: 
      context: .
      dockerfile: Server/Dockerfile
    container_name: gameserver
    networks:
      - rmi-net
  
  player1:
    build: 
      context: .
      dockerfile: Client/Dockerfile
    container_name: player1
    networks:
      - rmi-net
    environment:
      - PLAYER_NAME=pippo

networks:
  rmi-net:
    driver: bridge