services:
  gameserver:
    build: 
      context: .
      dockerfile: Server/Dockerfile
    container_name: gameserver
    networks:
      - rmi-net
    environment:
      - APP_ENV=dev
  
  player:
    build: 
      context: .
      dockerfile: Client/Dockerfile
    container_name: player
    networks:
      - rmi-net
    environment:
      - APP_ENV=dev
    stdin_open: true   
    tty: true

networks:
  rmi-net:
    driver: bridge